{% extends "main.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ 'dashboard.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-5 g-4 mb-4 d-none d-sm-flex">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.stats.checkouts.total.label'|trans }}</h5>
                    <p class="display-6">{{ totalCheckouts }}</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.stats.checkouts.active.label'|trans }}</h5>
                    <p class="display-6">{{ activeCheckouts }}</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.stats.borrowers.total.label'|trans }}</h5>
                    <p class="display-6">{{ borrowersCount }}</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.stats.books.total.label'|trans }}</h5>
                    <p class="display-6">{{ booksCount }}</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.stats.books.copies.label'|trans }}</h5>
                    <p class="display-6">{{ copiesCount }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.search.user.label'|trans }}</h5>

                    <form method="get" action="{{ path('borrowers') }}">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                            <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.user.placeholder'|trans }}">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.search.copy.label'|trans }}</h5>

                    <form method="get" action="{{ path('dashboard_search_copy') }}">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                            <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.copy.placeholder'|trans }}">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.search.book.label'|trans }}</h5>

                    <form method="get" action="{{ path('books') }}">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                            <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.book.placeholder'|trans }}">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
