{% extends "main.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ 'dashboard.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_BOOKS_ADMIN') or is_granted('ROLE_LENDER') or is_granted('ROLE_BORROWERS_ADMIN') %}
        <div class="row row-cols-1 row-cols-sm-5 g-4 mb-4 d-none d-sm-flex">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.stats.checkouts.total.label'|trans }}</h5>
                        <p class="display-6">{{ totalCheckouts }}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.stats.checkouts.active.label'|trans }}</h5>
                        <p class="display-6">{{ activeCheckouts }}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.stats.borrowers.total.label'|trans }}</h5>
                        <p class="display-6">{{ borrowersCount }}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.stats.books.total.label'|trans }}</h5>
                        <p class="display-6">{{ booksCount }}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.stats.books.copies.label'|trans }}</h5>
                        <p class="display-6">{{ copiesCount }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row mb-2 g-4">
        {% if is_granted('show-borrowers') %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.search.user.label'|trans }}</h5>

                        <form method="get" action="{{ path('borrowers') }}">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.user.placeholder'|trans }}">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_BOOKS_ADMIN') or is_granted('ROLE_LENDER') %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.search.copy.label'|trans }}</h5>

                        <form method="get" action="{{ path('dashboard_search_copy') }}">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.copy.placeholder'|trans }}">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_BOOKS_ADMIN') %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.search.book.label'|trans }}</h5>

                        <form method="get" action="{{ path('books') }}">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                <input type="text" name="q" class="form-control" placeholder="{{ 'dashboard.search.book.placeholder'|trans }}">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% for borrower in app.user.associatedBorrowers %}
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-baseline">
                    <div class="flex-fill">
                        {{ borrower.lastname }}, {{ borrower.firstname }}

                        <span class="badge text-bg-secondary">{{ borrower.type|trans }}</span>
                    </div>
                    {% if is_granted('show', borrower) %}
                        <a href="{{ path('show_borrower', { uuid: borrower.uuid }) }}" class="btn btn-outline-primary btn-sm">
                            {{ 'actions.details'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

            {% set activeCheckoutsForBorrower = currentCheckouts[borrower.id] %}

            {% if activeCheckoutsForBorrower|length == 0 %}
                <div class="card-body">
                    <div class="bs-callout bs-callout-info mt-0 mb-0">
                        <p>{{ 'dashboard.active_checkouts.empty'|trans }}</p>
                    </div>
                </div>
            {% else %}
                <div class="list-group list-group-flush">
                    {% for checkout in activeCheckoutsForBorrower %}
                        {% set book = checkout.bookCopy.book %}
                        <div class="list-group-item d-flex">
                            {% if book.hasCover %}
                                <img src="{{ vich_uploader_asset(book, 'cover') }}" style="max-width: 50px;" class="me-2">
                            {% endif %}

                            <div class="flex-fill">
                                <p class="mb-1">
                                    {{ book.title }}
                                    <span class="badge text-bg-primary"><i class="fas fa-barcode"></i> {{ checkout.bookCopy.barcodeId }}</span>

                                    {% if book.subtitle is not empty %}
                                        <span class="text-muted d-block">{{ book.subtitle }}</span>
                                    {% endif %}
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-calendar-alt"></i> <i class="fas fa-arrow-right"></i> {{ checkout.start|format_datetime }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
